/*  **Old Nav**

nav { font-weight: bold; 
    text-indent: 1em;
    font-size: 1em; 
    text-align: center;
}
nav a {  color:grey; text-decoration: none;
}
*/



nav#weblinks
{ 
    
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 1em; 
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(107,142,35,0.1);
    position:absolute;
    left: 0px;
    top: 0px;
    padding: 20px 0px;
   
    backdrop-filter: blur(8px);
    margin-left: auto;
    margin-right: auto;
    
}
nav a
{

    color: black;
    letter-spacing:1px;
    text-decoration:none;
}

nav a:hover

{
    font-weight: bold; 
    display: inside;
    text-shadow: 0.5px 0.5px 0.5px #333;
    
}

   body { 
       background-image: url('Background.jpg');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
   }
   hr {
   border: none;
   /* top    */ border-top: 1px solid olivedrab; 
   /* middle */ background-color: olivedrab; color:olivedrab;
   /* bottom */ border-bottom: 1px solid olivedrab;
   height: 1px;
   *height: 3px; /* IE6+7 need the total height */
}
.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 150px;
 height: 150px;
}
.center2 {
 position:relative; 
 top:10px;
 left:350px;
 display: block;
 
 width: 300px;
 height: 200px;
}
#assignment2{
    text-align: left;
}
/**
               * 1. Centers the content.
               * 2. Feel free to change this, this sets the width
               * 3. Adds some internal 'padding' to the div
               */
.wrapper 
               {
                   margin-right: 10px; /* 1 */
                   margin-left: auto; /* 1 */
                   max-width:1920px; /* 2 */
                   padding-right: 10px; /* 3 */
                   padding-left: 10px; /* 3 */
               }

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,0,0,0.0); 
    /* color: white; */
    /* padding: 16px; */
    font-size: 1em;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1; /*Edit this for background colour of drop down menu*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {font-weight: bold;}